@charset "UTF-8";
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  color: #f0f0f0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
html {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 1.2rem;
  background-color: #606060;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* -------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.8em;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.7em;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.6em;
}

h4 {
  font-size: 1.3rem;
  line-height: 1.5em;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.4em;
}

h6 {
  font-size: 1.1rem;
  line-height: 1.3em;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h small6 {
  font-size: 80%;
}

/* -------------------------------------------------------------------------- */
img {
  border: none;
}

/* -------------------------------------------------------------------------- */
a {
  color: #fff;
  text-decoration: none !important;
  cursor: pointer !important;
}

ul {
  list-style: none;
}

/* -------------------------------------------------------------------------- */
input, button, label, select, textarea {
  font-size: 1rem;
}

button {
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 200px;
  width: 100%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #ff4500;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader.small {
  width: 24px;
  height: 24px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
html {
  height: 100vh;
}

body {
  height: 100%;
}

/* -------------------------------------------------------------------------- */
.nav-button {
  font-size: 2.2rem;
  line-height: 5rem;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
main-layout {
  display: block;
  position: relative;
  min-height: 100%;
  background-color: #202020;
}

main-layout.nav-is-open .main-nav {
  left: 0px;
}

/* -------------------------------------------------------------------------- */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  background-image: url("../../images/misc/july1966_reims_gp.png");
  background-position: bottom;
  background-size: cover;
  padding: 0px 6px;
  transition: padding 250ms;
}
.main-header .header-logo {
  display: block;
  color: #fff;
  font-size: 4rem;
  line-height: 5rem;
}
.main-header .header-logo span {
  color: #ff4500;
  font-size: inherit;
}

.main-header.shrink {
  padding-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  left: -100%;
  background-color: #202020;
  padding: 0px 6px;
  overflow-x: hidden;
  z-index: 999;
  transition: 250ms ease;
}
.main-nav .nav-logo {
  position: sticky;
  top: 0px;
  display: block;
  color: #fff;
  font-size: 4rem;
  line-height: 5rem;
}
.main-nav .nav-logo span {
  color: #ff4500;
  font-size: inherit;
}
.main-nav .nav-button {
  font-size: 2.2rem;
}
.main-nav .nav-button-open {
  float: right;
}
.main-nav .nav-button-close {
  float: right;
}
.main-nav .nav-menu {
  flex: 0 0 100%;
  display: block;
  width: 100%;
  padding: 10px 6px;
}
.main-nav .nav-menu ul li {
  padding-bottom: 18px;
}
.main-nav .nav-menu ul li a {
  font-size: 1.4rem;
  line-height: 2rem;
}
.main-nav .nav-menu ul li a.has-subitems:after {
  content: " ◿";
  font-size: 60%;
}
.main-nav .nav-menu ul li a.is-current-page:after {
  content: " •";
  color: #fa4500;
}
.main-nav .nav-menu ul li a + ul li {
  padding-bottom: 10px;
}
.main-nav .nav-menu ul li a + ul li a {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding-left: 20px;
}

/* -------------------------------------------------------------------------- */
.main-content {
  display: block;
  min-height: 100%;
  padding: 4px 4px 20px 4px;
}

/* -------------------------------------------------------------------------- */
.main-footer {
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.8rem;
  width: 100%;
  background-color: #000;
  padding: 0px 6px;
}
.main-footer span, .main-footer a {
  font-size: 0.8rem;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  .nav-button {
    display: none;
  }
  .nav-logo {
    display: none !important;
  }
  main-layout {
    max-width: 1100px;
    width: auto;
    margin: 0px auto;
  }
  .main-header {
    height: 140px !important;
  }
  .main-nav {
    position: relative;
    height: 2rem;
    left: unset;
    background-color: brown;
    overflow: visible;
  }
  .main-nav .nav-menu {
    padding: 0px 6px;
  }
  .main-nav .nav-menu li {
    float: left;
    padding: 0px !important;
  }
  .main-nav .nav-menu li a {
    display: block;
    height: 100%;
    padding: 0px 1rem;
  }
  .main-nav .nav-menu li a + ul {
    position: absolute;
    height: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #000;
    border-radius: 0px 0px 6px 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .main-nav .nav-menu li a + ul li {
    float: none;
  }
  .main-nav .nav-menu li a + ul li a {
    display: block;
    font-size: 0.8em;
    line-height: 2rem !important;
  }
  .main-nav .nav-menu li a:focus {
    background-color: #585858;
  }
  .main-nav .nav-menu li a:focus + ul {
    height: 200px;
    padding: 10px 6px;
    background-color: #585858;
  }
  .main-nav .nav-menu li:nth-of-type(3) a:focus + ul {
    height: 130px;
  }
  .main-nav .nav-menu li:nth-of-type(4) a:focus + ul {
    height: 100px;
  }
}
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
expandable-card {
  display: block;
  background-color: #202020;
  padding: 4px;
  margin: 4px 0px;
  border: 1px solid #686868;
  border-radius: 4px;
  margin-bottom: 14px;
}
expandable-card .exp-control {
  display: none;
}
expandable-card .exp-control:checked ~ .exp-label:after {
  content: "×";
}
expandable-card .exp-control:checked + .exp-label ~ .exp-content {
  display: block;
  margin-top: 14px;
}
expandable-card .exp-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
expandable-card .exp-label h2 {
  display: block;
  width: 90%;
  font-size: 1.4rem !important;
}
expandable-card .exp-label:after {
  content: "⋮";
  font-size: 1.8rem;
}
expandable-card .exp-content {
  display: none;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
.table-header {
  display: none;
}

.table-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.table-row {
  margin: 4px 0px;
}

.table-row.position-row {
  display: flex;
}
.table-row.position-row .row-position {
  flex: 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #606060;
  padding: 0px 10px;
  border-radius: 4px 0px 0px 4px;
  border: 1 px solid #e0e0e0;
}
.table-row.position-row .row-position span {
  font-size: 1.4rem;
}
.table-row.position-row .row-content {
  flex: 1;
  padding: 4px;
  border-radius: 0px 4px 4px 0px;
  border: 1px solid #000;
  background-color: #404040;
  border-left: 0px;
}

.table .link-1 {
  font-size: 1.1rem;
  color: #fff;
  text-decoration: underline !important;
  text-decoration-thickness: 1px;
}

.table .link-2 {
  font-size: 0.9rem;
  text-decoration: underline !important;
  text-decoration-thickness: 1px;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
.flag-box {
  grid-area: flagbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
}
.flag-box img {
  width: 100%;
}
.flag-box span {
  text-align: center;
  font-size: 0.6rem;
  width: 100%;
}

.driver-name {
  grid-area: drvname;
}
.driver-name span {
  font-size: 0.7em;
  color: #aed6f1;
}

.constructor-name {
  grid-area: cntrname;
}

.points {
  grid-area: points;
  font-size: 0.8rem;
}

.points:before {
  content: "Puntos ";
  display: block;
}

.wins {
  grid-area: wins;
  font-size: 0.8rem;
}

.wins:before {
  content: "Victorias ";
  display: block;
}

.race-time {
  grid-area: racetime;
  font-size: 0.8rem;
  cursor: pointer !important;
}

.race-time:before {
  content: "Tiempo ";
  display: block;
  cursor: pointer !important;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  .table-header {
    display: block;
  }
  .table-row:hover {
    background-color: #383838;
  }
  .table-row.position-row {
    display: flex;
  }
  .table-row.position-row .row-position {
    flex: 0 0 40px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #606060;
    padding: 0px 0px;
    margin: 4px;
    border-radius: 50% 50%;
  }
  .table-row.position-row .row-position span {
    font-size: 1.4rem;
  }
  .table-row.position-row .row-content {
    flex: 1;
    align-items: center;
    border-radius: 4px !important;
    border: none;
  }
  .driver-name {
    font-size: 1rem;
  }
  .points {
    font-size: 1rem;
  }
  .points:before {
    content: "";
  }
  .race-time {
    font-size: 1rem;
  }
  .race-time:before {
    content: "";
  }
  .wins {
    font-size: 1rem;
  }
  .wins:before {
    content: "";
  }
}
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
driver-season-races {
  display: block;
  min-height: 100%;
}
driver-season-races .table .row-content {
  display: grid;
  gap: 4px;
  grid-template-rows: 1rem;
  grid-template-columns: 28px calc(50% - 36px) 25% 25%;
  grid-template-areas: "flagbox drvname  drvname  drvname" "flagbox cntrname cntrname cntrname" "filler  points   wins     wins";
}
driver-season-races .table .points:before {
  display: unset;
}
driver-season-races .table .wins:before {
  display: unset;
}

/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  driver-season-races {
    display: block;
  }
  driver-season-races .table .row-content {
    display: grid;
    gap: 4px;
    grid-template-rows: auto;
    grid-template-columns: 28px calc(30% - 22px) calc(30% - 22px) 25% 25%;
    grid-template-areas: "flagbox drvname cntrname points wins";
  }
}
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */