/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
@use '../_helpers/table';
/* -------------------------------------------------------------------------- */
driver-season-races {
    display: block;
    min-height: 100%;
    .table {
        .row-content {
            display: grid;
            gap: 4px;
            grid-template-rows: 1rem;
            grid-template-columns: 28px calc(50% - 36px) 25% 25%; 
            grid-template-areas: 'flagbox drvname  drvname  drvname'
                                 'flagbox cntrname cntrname cntrname'
                                 'filler  points   wins     wins';
        }
        .points:before { display: unset; }
        .wins:before { display: unset; }
    }
}
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
    driver-season-races {
        display: block;
        .table {
            .row-content {
                display: grid;
                gap: 4px;
                grid-template-rows: auto;
                grid-template-columns: 28px calc(30% - 22px) calc(30% - 22px) 25% 25%; 
                grid-template-areas: 'flagbox drvname cntrname points wins';
            }
        }
    }
}
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */