/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
next-race {

    display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-start;

    h2 {
        flex: 0 0 50%;
        font-size: 0.9em;
    }

    h2 + h2 {
        text-align: right;
        color: #ff4500;
    }

    h3, h4 {
        flex: 0 0 100%;
        font-size: 0.9em;
    }

    h4 {
        display: flex; justify-content: flex-start; align-items: center;
        gap: 6px;
        img {
            height: 18px;
        }
    }

    .flag-img {
        height: 1rem;
    }

}
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
    h2 {
        flex: 0 0 30%;
        font-size: 0.9em;
    }
    h2 + h2 {
        flex: 0 0 70%;
        text-align: left !important;
    }
}
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */