/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
@use '../_helpers/table';
/* -------------------------------------------------------------------------- */
race-results {
    display: block;
    .table {
        .row-content {
            display: grid;
            gap: 4px;
            grid-template-rows: auto;
            grid-template-columns: 28px calc(50% - 36px) 25% 25%; 
            grid-template-areas: 'flagbox drvname  points racetime';
        }
    }
}
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
    .table {
        .row-content {
            grid-template-columns: 28px 50% 1fr 1fr;
            grid-template-areas: 'flagbox drvname points racetime';
        }
    }
}
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* -------------------------------------------------------------------------- */